.speech{
    Color: black;
    size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.direction{
    Color:black;
    size: 19px;
    font-family: 'Times New Roman',Times,serif;
    background-color:pink;
}
.direction:hover{
    background-color: bisque;

}
.JOEL {

    color:rgb(0, 72, 255);
}
.ANDREW{
    color:rgb(142, 127, 255);
}