.speech{
    Color: black;
    size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.direction{
    Color:black;
    size: 19px;
    font-family: 'Times New Roman',Times,serif;
    background-color:pink;
}
.direction:hover{
    background-color: bisque;

}
.JOEL {

    color:rgb(146, 50, 236);
}
.ANDREW{
    color:rgb(225, 10, 28);
}

table,th,td{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    color: yellowgreen;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left:80px;
    margin-right:150px;

}
tr:nth-child(odd){
background-color: aquamarine;

}
.JOEL:hover{text-shadow: 3px 3px #7666c9;}

.ANDREW:hover{text-shadow: 3px 3px #eb1f41;}

ul.navbar-horizontal {
     /* remove these */
     list-style-type: none;
     margin: 0;
     padding: 0;
    }
ul.navbar-horizontal li {
     float:left;/* line up horizontally */
     color:#000;
      background-color:rgb(43, 198, 226); } 
      ul.navbar-horizontal a {
        display:block;
         padding:8px }
          /* on hover change the link color*/
           ul.navbar-horizontal a:hover {
            background-color: #555;
             color:white; }

